﻿@using Sol.Web.Models
@model  EmployeeModel


<script type="text/javascript">

    

    $(document).ready(function () {
        oTable = $('#tableemployeesfinales').dataTable({ "pagingType": "full_numbers", "bStateSave": true, "bJQueryUI": true });
    });

   
</script>


<h2>List Employees</h2>
<br />
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">

        <table id="tableemployeesfinales">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>contractTypeName</th>
                    <th>roleName</th>
                    <th>hourlySalary</th>
                    <th>monthlySalary</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var e in Model.listEmployee)
                {
                    <tr>
                        <td>@e.id</td>
                        <td>@e.name</td>
                        <td>@e.contractTypeName</td>
                        <td>@e.roleName</td>
                        <td>@e.hourlySalary</td>
                        <td>@e.monthlySalary</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

