﻿
<div id="divLista"></div>

<div id="contenedorpopup" class="modal fade" role="dialog"></div>

<script type="text/javascript">

    window.onload = function () {
        $('#tableemployeesfinales').DataTable();
        listar();
    };

    
    $(document).ready(function () {
        oTable = $('#tableemployeesfinales').dataTable({ "pagingType": "full_numbers", "bStateSave": true, "bJQueryUI": true });
    });

    function listar() {
        $.ajax(
              {
                  url: '/Employee/List',
                  cache: false,
                  success: function (result) {
                      $("#divLista").html(result);
                  },
                  complete: function () {
                  }
              });
    }  

</script>
