﻿<div id="divModal" class="modal-dialog">
    <div class="modal-content">
        <div id="divPopUp">

            <div class="modal-body">
                <div id="divTabs">
                  <h3>Create Product</h3>
                    <div id="myTabContent" class="tab-content">
                        <div id="tabEdit" class="tab-pane fade in active">
                            <div class="well form-horizontal ">
                                <fieldset>
                                    <legend></legend>
                                    <div class="row">
                                        <label for="inputEmail" class="col-md-3 control-label">Title </label>
                                        <div class="col-xs-12 col-md-6">
                                            <input type="text" class="form-control" id="inputTitle" value="" />
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="inputEmail" class="col-xs-12 col-md-3 control-label">Price</label>
                                        <div class="col-xs-12 col-md-4">
                                            <input type="text" class="form-control" id="inputPrice" placeholder="" value="" />
                                        </div>
                                        <div class="col-xs-12 col-md-5">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <br/>
                                        <div class="col-xs-12 col-md-12">
                                            <button type="button" class="btn btn-success" onclick="saveProduct();">Save</button>
                                            <button id="btnCancel" type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


