﻿@using Sol.Web.Models
@model  ProductModels

<h2>List Products</h2>
<br />
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Storage")
    </div>
    <div class="col-md-3">
    </div>

    <div class="col-md-2">
        @Html.DropDownList("ddlProductos", new SelectList(Model.listKindOfStorages, "Value", "Key"))
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success" onclick="cambiar();">Change storage</button>
    </div>
    <div class="col-md-2">
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <button class="btn btn-warning btn-sm btn-opt-panel" data-toggle='modal' data-target='#contenedorpopup' id="btnCrear" onclick="editProduct();">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">

        <table id="tableproductosfinales">
            <thead>
                <tr>
                    <th>Options</th>
                    <th>Number</th>
                    <th>Price</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var pf in Model.listProducts)
                {
                    <tr>
                        <td>
                            <a class="link" href="#" data-toggle='modal' data-target='#contenedorpopup' title="Editar Producto Final">
                                Edit
                            </a>
                        </td>
                        <td>@pf.number</td>
                        <td>@pf.price</td>
                        <td>@pf.title</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>



