﻿
<div id="divLista"></div>

<div id="contenedorpopup" class="modal fade" role="dialog"></div>

<script type="text/javascript">

    window.onload = function () {
        listar();
    };
    //$(document).ready(function () {
        //$('#tableproductosfinales').DataTable();
    //});

    function listar() {
        $.ajax(
              {
                  url: '/Product/List',
                  cache: false,
                  success: function (result) {
                      $("#divLista").html(result);
                  },
                  complete: function () {
                  }
              });
    }

    function cambiar() {
        var _option = $("#ddlProductos").val();
        //alert(_option);
        var data = {
            "TypeStorage": _option
        }


        $.ajax({
            type: "POST",
            url: "/Product/ChangeKindOfStorage",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.resultado) {
                    listar();
                } else {
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            },
            dataType: "Json",
            async: false
        });
    }

    function editProduct() {
        $("#contenedorpopup").load('/Product/Edit', function () {
        });
    }

    function saveProduct() {
        var _title = $("#inputTitle").val();
        var _price = $("#inputPrice").val();

        var data = {
            "Title": _title,
            "Price": _price            
        }

        $.ajax({
            type: "POST",
            url: "/Product/Save",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $("#btnCancel").click();
                if (response.resultado) {
                    listar();
                } else {
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            },
            dataType: "Json",
            async: false
        });
    }

</script>

